@font-face {
  font-family: 'Oswald';
  src: url(./Oswald-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

html{
  font-family: 'Oswald', sans-serif;
  font-size: clamp(14px, 1.2vw + 10px, 18px);
}

body{
  background-color: black;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center; 
    background-color: #1d3427;
    width: 280px;
    color: #f5f5f5;
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.25);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    text-decoration: none;
}

.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(255, 255, 255, 0.25);
  cursor:pointer
}
.card-img {
  width: 100%;
  height:auto;
  object-fit:fill; 
  display: block;
}

.card-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.card-title {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.card-desc {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #b2b2b9;
}



.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));        
  gap: 70px;                                    
  justify-content: space-between;
  margin: auto;                             
  padding: 0 20px;
}

.card-featured {
  grid-column: span 2;                           /*[cite: 7] */
  grid-row: span 2;                              /*[cite: 7] */
}

.card-red{
  background-color: rgb(70, 10, 10);
}

.card-gray{
  background-color: rgb(87, 78, 61)
}

.card-blue{
  background-color: rgb(0, 0, 58);
}

.card-brown{
  background-color: rgb(90, 41, 8);
}

.card-orange{
  background-color: rgb(175, 60, 2);
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr; /* Collapses the grid to 1 single column */
  }
}

